.portfolio-item {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}
.portfolio-item:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.portfolio-item .portfolio-image a {
  display: block;
}
.portfolio-item .portfolio-title {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}
.portfolio-item .portfolio-title h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  height: 66px;
  cursor: pointer;
  text-align: center;
}
.portfolio-item .portfolio-title h4:hover {
  color: var(--color-secondary);
}
.portfolio-item .portfolio-title .portfolio-links {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 3px;
}
.portfolio-item .portfolio-title .portfolio-links div {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}
.portfolio-item .portfolio-title .portfolio-links div:hover a {
  color: var(--color-white);
  cursor: pointer;
}

#contact {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#contact .contact-container .contact-content-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 23px;
  flex-shrink: 2;
  flex-grow: 2;
  margin: 17px;
}
#contact .contact-container .contact-content-con p {
  margin: 17px 0;
  line-height: 2rem;
  text-align: center;
  line-height: var(--line-height-default);
}
#contact .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
  line-break: anywhere;
}
#contact .contact-info .contact-item {
  display: block;
  margin: auto;
  margin-top: 2rem;
}
#contact .contact-info .contact-item .icon {
  display: block;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#contact .contact-info .contact-item .icon .ic {
  display: inline;
  margin-right: 1rem;
}
#contact .contact-info .contact-item .icon i {
  display: inline;
  font-size: var(--font-size-icon);
}
#contact .contact-info .contact-item p {
  text-align: center;
  margin: 0.3rem 0;
}
#contact .contact-icons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
#contact .contact-icons a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: var(--transition-1);
}
#contact .contact-icons a:hover {
  background-color: var(--color-secondary);
}
#contact .contact-icons a:hover i {
  color: var(--color-primary);
}
#contact .contact-icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-icon);
}

/*Independed components*/
.btn-download {
  display: flex;
  justify-content: center;
  position: relative;
}

.main-btn {
  border-radius: 50px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn .btn-icon i {
  font-size: var(--font-size-icon);
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition-1);
  z-index: -1;
}
.main-btn:hover {
  transition: var(--transition-1);
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: var(--transition-1);
}

.main-title {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  font-size: var(--font-size-title);
}
.main-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 1rem;
}
.main-title h2 span {
  display: inline;
  color: var(--color-secondary);
}/*# sourceMappingURL=possibility-to-use.css.map */