:root {
  --font-size-default: 17px;
  --font-size-default-hover: calc(var(--font-size-default) + 1px);
  --font-size-nav: 18px;
  --font-size-subtitle: 20px;
  --font-size-title: calc(var(--font-size-subtitle) + 5px);
  --font-size-big-title: calc(var(--font-size-subtitle) + 12px);
  --font-size-icon: 24px;
  --font-size-icon-download: 20px;
  --font-size-icons-skills: 45px;
  --font-size-icons-workexperience: 24px;
  --font-size-icons-timeline: 24px;
  --font-size-icons-controls: 20px;
  --dimensions-div-icons-skills: 50%;
  --dimensions-div-icons-workexperience: calc(var(--font-size-icons-workexperience) * 2);
  --dimensions-div-icons-timeline: calc(var(--font-size-icons-timeline) * 2);
  --dimensions-div-icons-controls: 55px;
  --photo-principal: 160px;
  --photo-height-portfolio: 300px;
  --line-height-default: 26px;
  --width-controls: 100%;
  --height-controls: 80px;
  --padding-bottom-container-default: 34px;
  --margin-bottom-container-default: 34px;
  --gap-portfolio-list: 20px;
  --color-primary: #202948;
  --color-secondary: #273dae;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-1: #ffffff;
  --color-icon: #ffffff;
  --color-timeline: #999999;
  --color-item-title: #ffffff;
  --color-item-subtitle: #cccccc;
  --color-portfolio-item-bg: #888888;
  --color-portfolio-item: #fff;
  --color-portfolio-item-disable: #dddddd;
  --br-small: 10px;
  --br-circle: 50%;
  --box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  --transition-1: all 0.4s ease-in-out;
}

.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #273dae;
  --color-timeline: #273dae;
  --color-text-1: #000000;
  --color-item-title: #000000;
  --color-item-subtitle: #5e5e5e;
  --color-portfolio-item-bg: #cccccc;
  --color-portfolio-item: #000;
  --color-portfolio-item-disable: #525252;
}

@media (max-width: 310px) {
  :root {
    --dimensions-div-icons-skills: 100%;
  }
}
@media (min-width: 320px) {
  :root {
    --photo-principal: 60vw;
  }
}
@media (min-width: 650px) {
  :root {
    --photo-principal: 40vw;
  }
}
@media (min-width: 800px) {
  :root {
    --font-size-default: 25px;
    --font-size-default-hover: 27px;
    --font-size-subtitle: 26px;
    --font-size-title: 35px;
    --font-size-big-title: 40px;
    --font-size-icon-download: 30px;
    --font-size-icons-skills: 55px;
    --font-size-icons-timeline: 28px;
    --font-size-icons-workexperience: 28px;
    --dimensions-div-icons-skills: 33%;
    --width-controls: 50px;
    --photo-principal: 35vw;
    --line-height-default: 32px;
  }
}
@media (min-width: 950px) {
  :root {
    --dimensions-div-icons-skills: 20%;
  }
}

#contact {
  height: -moz-min-content;
  height: min-content;
}

#contact-section {
  padding-bottom: 40px;
}

.contact-title .contact-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 23px;
  flex-shrink: 2;
  flex-grow: 2;
  margin: 17px;
}
.contact-title .contact-description p {
  margin: 17px 0;
  line-height: 2rem;
  text-align: center;
  line-height: var(--line-height-default);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
  line-break: anywhere;
}
.contact-info .contact-item {
  display: block;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info .contact-item .icon {
  display: block;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
.contact-info .contact-item .icon .ic {
  display: inline;
  margin-right: 1rem;
}
.contact-info .contact-item .icon i {
  display: inline;
  font-size: var(--font-size-icon);
}
.contact-info .contact-item p {
  display: block;
  text-align: center;
  margin: 0.3rem 0;
}

.contact-icons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.contact-icons a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: #7e7e7e;
  cursor: pointer;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: var(--transition-1);
}
.contact-icons a:hover {
  background-color: var(--color-secondary);
}
.contact-icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-icon);
}/*# sourceMappingURL=contact-page.css.map */