@import "../../assets/variables.scss";


//Contact section
#contact {
  height: min-content;
}

#contact-section {
  padding-bottom: 40px;
}

.contact-title {
  .contact-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 23px;
    flex-shrink: 2;
    flex-grow: 2;
    margin: 17px;
    p {
      margin: 17px 0;
      line-height: 2rem;
      text-align: center;
      line-height: var(--line-height-default);
    }
  }
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
  line-break: anywhere;

  .contact-item {
    display: block;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      display: block;
      margin: auto;
      width: max-content;
      .ic {
        display: inline;
        margin-right: 1rem;
      }
      i {
        display: inline;
        font-size: var(--font-size-icon);
      }
    }

    p {
      display: block;
      text-align: center;
      margin: 0.3rem 0;

      span {
        display: block-inline;
      }
    }
  }
}

.contact-icons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: #7e7e7e;
    cursor: pointer;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: var(--transition-1);

    &:hover {
      background-color: var(--color-secondary);

      i {
        // color: var(--color-primary);
      }
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-icon);
    }
  }
}

.icon-languages {
  position: relative;
  left: -4px;
  margin-bottom: 10px !important;
}

.languages {
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
}