:root {
  --font-size-default: 17px;
  --font-size-default-hover: calc(var(--font-size-default) + 2px);
  --font-size-icon: 20px;
  --font-size-icons-skills: 45px;
  --font-size-icons-timeline: 20px;
  --font-size-icons-controls: 20px;
  --dimensions-div-icons-skills: 50%;
  --dimensions-div-icons-timeline: calc(var(--font-size-icons-timeline) * 2);
  --dimensions-div-icons-controls: 55px;
  --font-size-subtitle: 18px;
  --font-size-title: calc(var(--font-size-subtitle) + 5px);
  --font-size-big-title: calc(var(--font-size-subtitle) + 12px);
  --photo-principal: 160px;
  --photo-height-portfolio: 300px;
  --line-height-default: 26px;
  --width-controls: 100%;
  --height-controls: 80px;
  --gap-portfolio-list: 20px;
  --color-primary: #191d2b;
  --color-secondary: #273dae;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-small: 10px;
  --br-circle: 50%;
  --box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  --transition-1: all 0.4s ease-in-out;
}

.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #273dae;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #dde2e7;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}
.light-mode .controls .active-btn {
  background-color: #354389;
  transition: var(--transition-1);
}
.light-mode .controls .active-btn i {
  color: var(--color-primary);
}
.light-mode .main-btn:hover .btn-text {
  color: var(--color-primary);
}
.light-mode .timeline-item i {
  color: var(--color-primary);
}
.light-mode .btn-icon {
  color: var(--color-grey0);
}
.light-mode .portfolio-list .portfolio-item {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
}
.light-mode .timeline .timeline-item .tl-duration {
  color: var(--color-black);
}

@media (max-width: 310px) {
  :root {
    --dimensions-div-icons-skills: 100%;
  }
}
@media (min-width: 320px) {
  :root {
    --photo-principal: 60vw;
  }
}
@media (min-width: 650px) {
  :root {
    --photo-principal: 40vw;
  }
}
@media (min-width: 800px) {
  :root {
    --font-size-default: 25px;
    --font-size-default-hover: 27px;
    --font-size-subtitle: 26px;
    --font-size-title: 35px;
    --font-size-big-title: 40px;
    --font-size-icon: 30px;
    --font-size-icons-skills: 55px;
    --font-size-icons-timeline: 28px;
    --width-controls: 50px;
    --photo-principal: 35vw;
    --line-height-default: 40px;
  }
}
@media (min-width: 950) {
  :root {
    --dimensions-div-icons-skills:20%;
  }
}

#contact {
  height: -moz-min-content;
  height: min-content;
}

.contact-title .contact-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 23px;
  flex-shrink: 2;
  flex-grow: 2;
  margin: 17px;
}
.contact-title .contact-description p {
  margin: 17px 0;
  line-height: 2rem;
  text-align: center;
  line-height: var(--line-height-default);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
  line-break: anywhere;
}
.contact-info .contact-item {
  display: block;
  margin: auto;
  margin-top: 2rem;
}
.contact-info .contact-item .icon {
  display: block;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
.contact-info .contact-item .icon .ic {
  display: inline;
  margin-right: 1rem;
}
.contact-info .contact-item .icon i {
  display: inline;
  font-size: var(--font-size-icon);
}
.contact-info .contact-item p {
  text-align: center;
  margin: 0.3rem 0;
}

.contact-icons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.contact-icons a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: var(--transition-1);
}
.contact-icons a:hover {
  background-color: var(--color-secondary);
}
.contact-icons a:hover i {
  color: var(--color-primary);
}
.contact-icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-icon);
}/*# sourceMappingURL=contact-page.css.map */