@import "../../assets/variables.scss";

/*About*/
// #about-me-page {}
// .about-me-section {}
// .about-page-description {}
.about-stats {
  padding-bottom: var(--padding-bottom-container-default);
}

.text-about {
  span {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-title);
    color: var(--color-secondary);
  }
  p {
    line-height: var(--line-height-default);
    padding: 17px 40px;
    margin-bottom: 17px;
  }
}

//Skill container
.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}

.skill-item {
  display: block;
  flex-basis: calc(var(--dimensions-div-icons-skills) - 5px);
  min-width: 120px;
  max-width: var(--dimensions-div-icons-skills);
  flex-shrink: 1;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  i {
    display: block;
    margin: auto;
    font-size: var(--font-size-icons-skills);
    text-align: center;
  }
  span {
    display: block;
    margin: auto;
    margin-top: 8px;
    text-align: center;
  }
}

//Timeline container
.timeline-container {
  margin-bottom: var(--margin-bottom-container-default);
}

.timeline-item {
  position: relative;
  margin: 17px 0px 25px 34px;
  border-left: 1px solid var(--color-grey-5);
  h5 {
    display: block;
    padding: 16px;
    text-transform: uppercase;
    font-size: var(--font-size-subtitle);
    font-weight: normal;
    text-align: center;
    span {
      display: block;
      color: var(--color-grey-4);
      font-weight: 500;
      font-size: var(--font-size-default);
      text-transform: none;
    }
  }
  p {
    white-space: pre-line;
  }
}

.tl-icon {
  display: block;
  width: var(--dimensions-div-icons-timeline);
  height: var(--dimensions-div-icons-timeline);
  position: absolute;
  margin: auto;
  left: calc(-1 * var(--font-size-icons-timeline));
  top: 0;
  border-radius: 50%;
  background-color: var(--color-secondary);
  text-align: center;
  i {
    display: inline-block;
    font-size: var(--font-size-icons-timeline);
    line-height: var(--dimensions-div-icons-timeline);
    margin: auto;
    color: var(--color-white);
  }
}

.tl-duration {
  display: inline-block;
  padding: 3px 9.6px;
  margin-left: var(--dimensions-div-icons-timeline);
  font-weight: 500;
  border-radius: 15px;
  font-size: var(--font-size-default);
  text-transform: capitalize;
  background-color: var(--color-grey-5);
}

.tl-text {
  font-size: var(--font-size-default);
  text-align: left;
  padding-left: 16px;
  margin-right: 16px;
}


//Workexperience Container
.workexperience-container {
  margin-bottom: var(--margin-bottom-container-default);
}

.workexperience-item {
  position: relative;
  margin: 17px 0px 25px 34px;
  border-left: 1px solid var(--color-grey-5);
  h5 {
    display: block;
    padding: 16px;
    text-transform: uppercase;
    font-size: var(--font-size-subtitle);
    font-weight: normal;
    text-align: center;
    span {
      display: block;
      color: var(--color-grey-4);
      font-weight: 500;
      font-size: var(--font-size-default);
      text-transform: none;
    }
  }
  p {
    color: var(--color-grey-2);
    white-space: pre-line;
  }
}

.we-icon {
  display: block;
  width: var(--dimensions-div-icons-workexperience);
  height: var(--dimensions-div-icons-workexperience);
  position: absolute;
  margin: auto;
  left: calc(-1 * var(--font-size-icons-workexperience));
  top: 0;
  border-radius: 50%;
  background-color: var(--color-secondary);
  text-align: center;
  i {
    display: inline-block;
    font-size: var(--font-size-icons-workexperience);
    line-height: var(--dimensions-div-icons-workexperience);
    margin: auto;
    color: var(--color-white);
  }
}

.we-duration {
  display: inline-block;
  padding: 3px 9.6px;
  margin-left: var(--dimensions-div-icons-workexperience);
  font-weight: 500;
  border-radius: 15px;
  font-size: var(--font-size-default);
  text-transform: capitalize;
  background-color: var(--color-grey-5);
}

.we-text {
  font-size: var(--font-size-default);
  text-align: left;
  padding-left: 16px;
  margin-right: 16px;
}

// Experience Container
.timeline-container {
  margin-bottom: calc(var(--height-controls) - 30px); 
}

#item-experience {
  text-align: center;
}



// ### Light mode ###
.light-mode {
  .timeline-item {
    span {
      color: var(--color-grey-6);
    }
  }
  .workexperience-item {
    span {
      color: var(--color-grey-6);
    }
  }
  .tl-duration {
    background-color: var(--color-grey-4);
  }
  .tl-icon {
    i {
      color: var(--color-grey-2);
    }
  }
  .we-icon {
    i {
      color: var(--color-grey-2);
    }
  }
}



// ### About me media ###
// --- MAX --- 
@media (max-width: 400px) {
  .text-about {
    p {
      padding: 17px;
    }
  }
}
@media (max-width: 310px) {
  .skill-container {
    justify-content: center;
  }
}

// --- MIN ---
@media (min-width: 800px) {
  .timeline-item {
    margin-left: 20px;
  }
  .workexperience-item {
    margin-left: 20px;
  }
  .text-about {
    p {
      padding-right: 5px;
    }
  }
  .skill-item{
    flex-basis: calc(var(--dimensions-div-icons-skills) - 7px);
  }
}
