@import "variables";

// ############ Variables and Mixins ############
@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
:root {
  @media (min-width: 320px) {
    --principal-photo: 60vw;
  }
  // @media (min-width: 500px) {
  //   // --principal-photo: 60vw;
  // }
  @media (min-width: 650px) {
    --principal-photo: 40vw;
  }
  @media (min-width: 800px) {
    --font-size-default: 25px;
    --font-size-default-hover: 27px;
    //var title size
    --font-size-subtitle: 26px;
    --font-size-title: 35px;
    --font-size-big-title: 40px;
    //var icon size
    --font-size-icon: 30px;
    --font-size-icon-skills: 55px;
    --font-size-icon-timeline: 28px;

    --principal-photo: 35vw;
  }
}

//   Home / Header section
header {
  @media (min-width: 800px) {
    .header-content {
      text-overflow: hidden;
      flex-direction: row;
      .left-header {
        height: 100%;
        width: 50%;
        margin-bottom: 0;
      }
      .right-header {
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 0;
        margin-right: 20px;
        p {
          padding: 10px;
        }
        .btn-download {
          .main-btn {
            border-radius: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 260px) and (max-height: 690px) {
  #home {
    height: 115%;
    & .header-content {
      padding: 0;
      margin: 0;
    }
    & .left-header {
      margin: 0;
    }
    & .right-header {
      padding: 0;
    }
  }
}

//About me section
.skill-item {
@media screen and (min-width: 500px) {
    width: 31%;
    // padding: 5px;
  }
}
#about {
  @media (min-width: 800px) {
    .timeline {
      .timeline-item {
        margin-left: 20px;
        .tl-icon {
          width: 50px;
          height: 50px;
          left: -27px;
          i {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .about-stats {
      .skill-container {
        grid-template-columns: repeat(4, 1fr);
        .skill-item {
          padding: 5px;
        }
      }
    }
  }
}

//  Portfolio section
#portfolio {
  @media (min-width: 500px) {
    & .portfolio-list {
      gap: 5px;
    }
    & .portfolio-item {
      width: 40%;
      height: 500px;
    }
  }
}
@media (min-width: 730px) {
  .portfolio-list {
    margin-right: 50px;
  }
}

//  Contact section

/*Independed components*/

.container {
  //All containers
  @media (min-width: 800px) {
    height: 100%;
    padding: 50px 65px;
    padding-left: 30px;
  }
}

@media (max-width: 270px) {
  .btn-download {
    & .main-btn {
      height: 54px;
    }
    & .btn-icon {
      display: none;
    }
  }
}

.controls {
  @media (min-width: 800px) {
    width: 50px;
    top: 50%;
    right: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    background-color: transparent;
    .control {
      width: var(--size-icons-div-controls);
      height: var(--size-icons-div-controls);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.7rem 0;
    }
  }
}
