.about-container p {
  padding-left: 0;
}

@media screen and (max-width: 440px) {
  .container .main-title h2,
  .container .main-title span {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem 2.5rem !important;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .container .main-title h2 {
    font-size: 3rem;
  }
  .container .main-title h2 span {
    font-size: 3rem;
  }
  .container .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
}

@media screen and (max-width: 1070px) {
  .container .main-title h2 {
    font-size: 4rem;
  }
  .container .main-title h2 span {
    font-size: 4rem;
  }
  .container .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 3rem 11rem;
  }
}

@media screen and (max-width: 1432px) {
  .container .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 330px) {
  #home .header-content .right-header .btn-download {
    font-size: 1rem;
    width: 30vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px auto;
    left: 0px;
  }
  #home .header-content .right-header .btn-download .btn-text {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 440px) {
  #home .header-content .left-header img {
    width: 90% !important;
    margin-left: 5% !important;
  }
}

@media screen and (max-width: 600px) {
  #home .header-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #home .header-content .left-header .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px auto;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .header-content .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #home .header-content .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #home {
    padding: 0 !important;
  }
}

@media screen and (max-width: 970px) {
  #home .header-content {
    padding-bottom: 6rem;
  }
  #home .header-content .left-header img {
    width: 70%;
    margin-left: 5%;
  }
  #home .header-content .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #home .header-content .right-header .name {
    font-size: 2rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 330px) {
  .about .about-stats .skill-container {
    position: relative;
    left: -38px;
  }
}

@media screen and (max-width: 600px) {
  .about .main-title h2 {
    font-size: 2rem;
  }
  .about .main-title h2 span {
    font-size: 2rem;
  }
  .about .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
  .about .timeline {
    margin-bottom: 3rem;
  }
  .about .about-container .text-about {
    padding-right: 0;
  }
  .about .about-container .text-about p {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about .about-stats .skill-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about .about-stats .skill-container .skill-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 970px) {
  .about .about-container {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 1070px) {
  .about .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about .about-container .right-about {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 1432px) {
  .about {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 540px) {
  #portfolio .portfolio-item {
    height: 140px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #portfolio .portfolio-item .portfolio-image {
    width: 0%;
  }
  #portfolio .portfolio-item .portfolio-text {
    width: 100% !important;
  }
  #portfolio .portfolio-item .portfolio-text h4 {
    text-align: center;
  }
  #portfolio .portfolio-item .portfolio-text .portfolio-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 3px !important;
  }
}

@media screen and (max-width: 600px) {
  #portfolio .portfolio-list .portfolio-item:last-child {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 714px) {
  #portfolio .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  #portfolio .portfolio-image {
    display: none;
  }
  #portfolio .portfolio-text {
    border-top: 0px !important;
  }
  #portfolio .portfolio-text h4 {
    text-align: center;
  }
}

@media screen and (max-width: 1250px) {
  #portfolio .portfolio-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1432px) {
  #portfolio {
    padding: 3rem 7rem;
  }
}

@media screen and (max-width: 427px) {
  .contact .contact-content-con {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  .contact .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact .contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0;
  }
  .contact .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  .contact .contact-item span {
    font-size: 26px;
  }
  .contact .contact-item .icon {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
  }
  .contact .contact-icons {
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 1432px) {
  .contact .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  .theme-btn {
    top: 0px;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=media.css.map */