@import "variables";
@import "style";

@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
:root {
  @media (min-width: 500px) {
    --principal-photo: 60vw;
  }
  @media (min-width: 660px) {
    --principal-photo: 40vw;
  }
  @media (min-width: 800px) {
    --font-size-default: 25px;
    --font-size-default-hover: 27px;
    //var title size
    --font-size-subtitle: 26px;
    --font-size-title: 30px;
    --font-size-big-title: 35px;
    //var icon size
    --font-size-icon: 30px;
    --font-size-icon-skills: 55px;
    --font-size-icon-timeline: 28px;

    --principal-photo: 35vw;
  }
}

//All containers
.container {
  @media (min-width: 800px) {
    height: 100%;
    padding: 50px 65px;
    padding-left: 30px;
  }
}

header {
  @media (min-width: 800px) {
    .header-content {
      text-overflow: hidden;
      flex-direction: row;
      .left-header {
        height: 100%;
        width: 50%;
        margin-bottom: 0;
      }
      .right-header {
        height: 100%;
        width: 50%;
        margin: 0;
        padding: 0;
        padding-right: 170px;
        p {
          padding: 0;
        }
        .btn-download {
          .main-btn {
            border-radius: 50px;
          }
        }
      }
    }
  }
}

.controls {
  @media (min-width: 800px) {
    width: 50px;
    top: 50%;
    right: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);
    background-color: transparent;
    .control {
      width: var(--size-icons-div-controls);
      height: var(--size-icons-div-controls);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.7rem 0;
    }
  }
}

// //About me container
#about {
  @media (min-width: 500px) {
    .about-stats {
      .skill-container {
        grid-template-columns: repeat(3, 1fr);
        .skill-item {
          padding: 5px;
        }
      }
    }
  }
  @media (min-width: 800px) {
    .timeline {
      .timeline-item {
        margin-left: 20px;
        .tl-icon {
          width: 50px;
          height: 50px;
          left: -27px;
          i {
            &:before {
              top: 12px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .about-stats {
      .skill-container {
        grid-template-columns: repeat(4, 1fr);
        .skill-item {
          padding: 5px;
        }
      }
    }
  }
}

// // Portfolios container
#portfolio {
  @media (min-width: 730px) {
    .portfolio-list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      column-gap: 10px;
      margin-right: 50px;
    }
  }
}
