.about-container p {
  padding-left: 0;
}

@media screen and (max-width: 1432px) {
  .container .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 3rem 11rem;
  }
}

@media screen and (max-width: 1070px) {
  .container .main-title h2 {
    font-size: 4rem;
  }
  .container .main-title h2 span {
    font-size: 4rem;
  }
  .container .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .container .main-title h2 {
    font-size: 3rem;
  }
  .container .main-title h2 span {
    font-size: 3rem;
  }
  .container .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem 2.5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media screen and (max-width: 440px) {
  .container .main-title h2 {
    font-size: 2rem;
  }
  .container .main-title h2 span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  #home .header-content {
    padding-bottom: 6rem;
  }
  #home .header-content .left-header img {
    width: 70%;
    margin-left: 5%;
  }
  #home .header-content .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #home .header-content .right-header .name {
    font-size: 2rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #home {
    padding: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  #home .header-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #home .header-content .left-header .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px auto;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .header-content .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #home .header-content .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 440px) {
  #home .header-content .left-header img {
    width: 90% !important;
    margin-left: 5% !important;
  }
}

@media screen and (max-width: 330px) {
  #home .header-content .right-header .btn-download {
    font-size: 1rem;
    width: 30vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px auto;
    left: 0px;
  }
  #home .header-content .right-header .btn-download .btn-text {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 1432px) {
  #about {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 1070px) {
  #about .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #about .about-container .right-about {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 970px) {
  #about .about-container {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 700px) {
  #about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #about .about-stats .skill-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #about .about-stats .skill-container .skill-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #about {
    padding: 3rem 2rem;
  }
  #about .main-title h2 {
    font-size: 2rem;
  }
  #about .main-title h2 span {
    font-size: 2rem;
  }
  #about .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
  #about .about-container .text-about {
    padding-right: 0;
  }
  #about .about-container .text-about p {
    padding-left: 0;
  }
}

@media screen and (max-width: 450px) {
  #about .timeline .timeline-item {
    padding-left: 1rem;
  }
  #about .timeline .timeline-item .tl-duration {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 330px) {
  #about .about-stats .skill-container {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .about-stats .skill-container .skill-line .skill-item i {
    font-size: 2rem;
  }
  #about .about-stats .skill-container .skill-line .skill-item span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  #portfolio .portfolio-item:hover {
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #portfolio .portfolio-item:hover .portfolio-image img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  }
  #portfolio .portfolio-item .portfolio-image {
    width: 100%;
    display: contents;
  }
  #portfolio .portfolio-item .portfolio-image img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

@media screen and (max-width: 1432px) {
  #portfolio {
    padding: 3rem 7rem;
  }
}

@media screen and (max-width: 1250px) {
  #portfolio .portfolio-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
}

@media screen and (max-width: 990px) {
  #portfolio .portfolio-item .portfolio-text {
    border-top: 0px;
  }
  #portfolio .portfolio-item .portfolio-text h4 {
    text-align: center;
  }
}

@media screen and (max-width: 714px) {
  #portfolio .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #portfolio {
    padding: 3rem 2rem;
  }
  #portfolio .portfolio-list {
    margin-bottom: 2vh;
  }
  #portfolio .portfolio-list .portfolio-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-image {
    width: 150px;
    height: 100%;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-image img {
    width: 150px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text {
    width: 100%;
    border-top: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) and (max-height: 800px) {
  #portfolio .portfolio-list {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 540px) {
  #portfolio .portfolio-item {
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #portfolio .portfolio-item .portfolio-text h4 {
    text-align: center;
  }
  #portfolio .portfolio-item .portfolio-text .portfolio-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 3px;
  }
}

@media screen and (max-width: 460px) {
  #portfolio {
    padding: 3rem 0rem;
    padding-bottom: 5rem;
  }
  #portfolio .portfolio-description {
    padding: 2rem 0.5rem;
  }
}

@media screen and (max-width: 372px) {
  #portfolio .portfolio-list .portfolio-item .portfolio-text h4 {
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text h4 a {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 340px) {
  #portfolio .portfolio-list .portfolio-item .portfolio-text h4 a {
    font-size: 17px;
    line-height: 19px;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text .portfolio-links div {
    font-size: 15px;
    line-height: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 310px) {
  #portfolio .portfolio-list .portfolio-item .portfolio-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-image img {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 246px) {
  #portfolio .portfolio-list .portfolio-item .portfolio-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text .portfolio-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text .portfolio-links div {
    line-height: 1rem;
    padding-bottom: 0.5rem;
  }
  #portfolio .portfolio-list .portfolio-item .portfolio-text .portfolio-links div a {
    display: block ruby;
    text-align: center;
  }
}

@media screen and (max-width: 1432px) {
  .contact .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .contact .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact .contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0;
  }
  .contact .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  .contact .contact-item span {
    font-size: 26px;
  }
  .contact .contact-item .icon {
    -ms-grid-columns: 25px 1fr;
        grid-template-columns: 25px 1fr;
  }
  .contact .contact-icons {
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 427px) {
  .contact .contact-content-con {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width: 418px) {
  .contact .contact-info .contact-item p a #email {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  .theme-btn {
    top: 0px;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=media.css.map */