:root {
  //var font size text
  --font-size-default: 17px;
  --font-size-default-hover: calc(var(--font-size-default) + 1px);

  //var icons size
  --font-size-icon: 20px;
  --font-size-icons-skills: 45px;
  --font-size-icons-timeline: 20px;
  --font-size-icons-controls: 20px;

  --dimensions-div-icons-skills: 50%;
  --dimensions-div-icons-timeline: calc(var(--font-size-icons-timeline) * 2);
  --dimensions-div-icons-controls: 55px;

  //var title size
  --font-size-subtitle: 18px;
  --font-size-big-title: calc(var(--font-size-subtitle) + 12px);
  --font-size-title: calc(var(--font-size-subtitle) + 5px);

  //var photo size
  --photo-principal: 160px;
  --photo-height-portfolio: 300px;

  //var line height size
  --line-height-default: 26px;

  //dimensions width and height
  --width-controls: 100%;
  --height-controls: 80px;

  // gap value
  --gap-portfolio-list: 20px;

  //var colors
  --color-primary: #191d2b;
  --color-secondary: #273dae;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;

  //var borders
  --br-small: 10px; //border radius small.
  --br-circle: 50%;
  --box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

  //var transitions
  --transition-1: all 0.4s ease-in-out;
}

.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #273dae;
  --color-white: #454e56; //culoarea pentru scris
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #dde2e7; //culoarea pentru butoanele secundare
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
  .controls {
    .active-btn {
      background-color: #354389;
      transition: var(--transition-1);
      i {
        color: var(--color-primary);
      }
    }
  }

  .main-btn {
    &:hover {
      .btn-text {
        color: var(--color-primary);
        // color: var(--color-black);
      }
    }
  }

  .timeline-item {
    i {
      color: var(--color-primary);
      // color: var(--color-black);
    }
  }

  .btn-icon {
    color: var(--color-grey0);
  }

  .portfolio-list {
    .portfolio-item {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    }
  }

  .timeline {
    .timeline-item {
      .tl-duration {
        // background-color: var(--color-grey-3);
        color: var(--color-black);
      }
    }
  }
}

//Mixins
@mixin orizontal-line-above {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  position: relative;
  left: 50%;
  bottom: 20px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

// ############ Variables and Mixins - Media Query ############
:root {
  // MAX WIDTH
  @media (max-width: 310px) {
    --dimensions-div-icons-skills: 100%;
  }

  // MIN WIDTH
  @media (min-width: 320px) {
    --photo-principal: 60vw;
  }
  @media (min-width: 650px) {
    --photo-principal: 40vw;
  }
  @media (min-width: 800px) {
    --font-size-default: 25px;
    --font-size-default-hover: 27px;
    //var title size
    --font-size-subtitle: 26px;
    --font-size-title: 35px;
    --font-size-big-title: 40px;
    //var icon size
    --font-size-icon: 30px;
    --font-size-icons-skills: 55px;
    --font-size-icons-timeline: 28px;
    --dimensions-div-icons-skills: 33%;
    //width
    --width-controls: 50px;
    //photo
    --photo-principal: 35vw;
    //height
    --line-height-default: 32px;
  }
  @media (min-width: 950){
    --dimensions-div-icons-skills: 20%;
  }
}

